



@media (max-width: 1000px) {

	.nav-inner [role=nav]{
		display: none;
	}

	.mobile-nav-toggle{
		display: flex !important;
		
	
	}

	.mobile-nav{
		display: block !important;;
		
	}

	
	
}



body{

	background-color: lavender;
	display: flex;
	flex-direction: column;
	font-family: "Raleway", Helvetica, Arial, sans-serif;


	margin: 0 !important;
}


.container{
	position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    clear: both;
}


/***************************** NAVBAR *******************************/

.home-wrap .nav-wrap {
    height: 125px;
    width: 100%;
}

.nav-wrap header {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	background-color: #4B3A25;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

	order: 1;
}

.nav-inner{
	width: 100%;
}
.site-nav{

	height: 125px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.nav-start, .nav-end {

	background-color: none;
	display: flex;
	flex-direction: row;

	max-width: 370px;
	min-width: 370px;

	

}

.nav-start{

	justify-content: flex-end;
}

.nav-end{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;


}
.nav-start ul{
	justify-content: flex-end;
}

.logo{
	margin: 0 2.5% ;
	padding: 1rem 0;

}

.logo img{
	vertical-align: top;
	object-fit: cover;

}

.site-nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;


	height: 125px;
		
	flex:1 1 100%;

	margin: 0;
	padding: 0;
	list-style: none;



}

.site-nav ul li{
	display: block;
	text-align: right;
	text-decoration:none;
}

.site-nav ul li a{

	padding: 3rem 1.5rem;
	display: block;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: "Raleway", Helvetica, Arial, sans-serif;

	transition: all .25s ease-in-out;

}

.site-nav li a{
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.site-nav li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.site-nav li a:hover:after {
	width: 100%;
	background: white;
}


/**********************************************************/
.mobile-nav-toggle{
	display: none;
	align-items: center;

	width: 50px;
	height: 50px;

	top: 0;
	left: 0;
	margin: 25px;

	position: absolute;

	cursor: pointer;

}

#menu-toggle, #menu-toggle:before , #menu-toggle:after{
	content: "";
	height: 2px;
	width: 100%;

	display: block;

	background: white;

	position: relative;
	transition: all 0.3s ease-in-out;

}

#menu-toggle::before{
	top: 15px;

}

#menu-toggle::after{
	top: -17px;
}

.mobile-nav-toggle.is-open #menu-toggle{
	background: transparent;
}

.mobile-nav-toggle.is-open #menu-toggle:before,
.mobile-nav-toggle.is-open #menu-toggle:after{
		transform-origin: center;
		transform: rotate(45deg);
		top: 0;
}

.mobile-nav-toggle.is-open #menu-toggle:after{
	
	transform: rotate(-45deg);

}


.nav-wrap .mobile-nav {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #4B3A25;
	margin-top: 125px;
	z-index: 0;
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;

}

.nav-wrap .mobile-nav.is-open{
	
	transform: translateY(0%);
	position: fixed;

}

.nav-wrap .mobile-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

.nav-wrap .mobile-nav li{
	text-align: center;
	margin: 10px 0;

}

.nav-wrap .mobile-nav ul li a{
	text-decoration: none;
	color: white;

	text-transform: uppercase;

}


